body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.results-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.results-item {
  flex: 20%;
  margin: 10px;
  max-width: 215px;
}

.sugg-items {
  position: relative;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  margin-top: -10px;
}

.sugg-items li {
  padding: 10px;
  border-bottom: 0.5px solid rgba(0,0,0,0.2);
  border-top: 0.5px solid rgba(0,0,0,0.2);
  margin: -1px 0;
  cursor: pointer;
}

.sugg-items li:hover {
  background-color: #f2f2f2;
}
